html,
body {
  aspect-ratio: 1.414/1;
}

html {
  display: table;
  margin: auto;
}

.arrow {
  display: flex;
  justify-content: flex-start;
}

body {
  display: table-cell;
  vertical-align: auto;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  width: 420mm;
  height: 297mm;
}

.container {
  width: 42cm;
  height: 32.5cm;
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid #000;
  display: flex;
  flex-direction: column;
  position: relative;
  aspect-ratio: 1.414/1;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
}

.header img {
  height: 50px;
}

.header div {
  text-align: right;
  font-size: 12px;
}

.title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.section {
  box-sizing: border-box;
  margin-bottom: 10px;
}

.section-title {
  background-color: #496888;
  color: #fff;
  padding: 5px;
  font-weight: bold;
  margin-bottom: 10px;
}

.main-content {
  display: flex;
  flex-wrap: wrap;
  flex: 0;
}

.left-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.right-column {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.right-column .instruction-flexbar {
  align-self: flex-end;
}

.left-column .section {
  width: calc(100% - 10px);
  border: 1px solid #000;
  padding: 1px;
  box-sizing: border-box;
  margin-right: 10px;
}

.sustain-plan,
.flexbar {
  border: 1px solid black;
  padding: 5px;
}

.right-column .section {
  width: 100%;
  border: 0px solid #000;
  padding: 0px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.section {
  flex-grow: 0;
}

.key-drivers,
.interventions {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.key-drivers .driver,
.interventions {
  border: 4px solid;
  padding: 4px;
}

.intervention {
  height: 30px;
  padding: 3px;
  border: 2px solid;
}

.key-drivers {
  flex-grow: 1;
}

.interventions {
  flex-grow: 2;
}

.sustain-plan {
  width: 25%;
  border: 1px solid #000;
  padding: 10px;
  box-sizing: border-box;
  margin-top: 20px;
}

.sustain-plan table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 10px;
}

.sustain-plan th,
.sustain-plan td {
  border: 1px solid #000;
  padding: 5px;
  text-align: left;
}

.reliability-level {
  font-size: 12px;
  flex: 2;
}

.maturity-bars {
  font-size: 12px;
  flex: 1;
}

.flexbar {
  display: flex;
}

.topflex {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.bar {
  width: 50px;
  margin: 2.7px;
}

.maturity-bars {
  margin-top: 50px;
  margin-left: 5px;
}

td {
  border: 1px solid black;
  height: 20px;
}

#arrowSvg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* Allow clicks to pass through */
}

.input-ps {
  height: 72px;
}

.input-ng {
  height: 90px;
}

.input-ts {
  height: 90px;
}

.cs-main {
  height: 250px;
}

.cs-text {
  margin-bottom: 10px;
}

.delete-main {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.delete-btn {
  position: absolute;
  right: 425px;
}

.delete-interv {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.delete-btn2 {
  position: absolute;
  right: 23px;
}

.delete-reportTo-main {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.delete-reportTo {
  position: absolute;
  right: 0px;
}

.personal-logo {
  height: 85px;
  width: 150px;
  justify-content: space-between;
  align-items: center;
  margin-right: 150px;
}

.header {
  display: flex;
}

.select-arrow {
  height: 45px;
  width: 350px;
  border: solid 3px #8c1c1c;
}

.arrow-main {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.add-arrow-btn {
  position: absolute;
  right: 0px;
}

.arrow-table {
  margin-top: 5px;
  width: 704px;
  border: solid 3px #8c1c1c;
}
.arrow-table th {
  background-color: #8c1c1c;
  color: #fff;
}

.arrow-table tr {
  text-align: center;
}

.graph-flex {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}


.imageContainer, .flexKarnaHai{
  width: 379.25px;
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}


#uploadedImage{
  max-height: 100%;
  max-width: 100%;
}

.error-popup {
  display: none;
  background-color: red;
  color: white;
  padding: 10px;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
}

.instruction-flexbar {
  display: flex;
  border: 1px solid black;
  padding: 5px;
  align-self: flex-end;
}

/* Header styles */
.page-header {
  width: auto;
  background-color: #2c3e50;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-header img {
  height: 50px;
}

.page-nav-links {
  display: flex;
  gap: 20px;
}

.page-nav-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.page-nav-links a:hover {
  text-decoration: underline;
}


/* Logo Animation */

.animatedLogo {
  border-radius: 50%;
  outline: none;
  border-color: #2980b9;
  box-shadow: 0 0 10px #2980b9;
  animation: fadeInAndMove 1s forwards;
}
.downBt{
  height: 40px; width: 40px;
}


@keyframes fadeInAndMove {
  0% {
      opacity: 0;
      transform: translate(-50%, -50%) scale(4);
  }
  50% {
      opacity: 1;
      transform: translate(0, 0) scale(4);
  }
  100% {
      opacity: 1;
      transform: translate(0, 0) scale(1.5);
  }
}

/* DropDown Styling */

.dropbtn {
  background-color: transparent;
  color: white;
  
  font-size: 16px;
  font-weight: bold;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.content {
    
  padding: 20px;
  backdrop-filter: blur(10px);
  background-color: #0000002d;
  color: #fff; /* White text */
  animation: fadeIn 2s forwards;
  animation-delay: 1s;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5; /* Light gray background */
  color: #2c3e50; /* Dark blue-gray text color */
  text-align: center;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #2c3e50; /* Dark blue-gray */
  opacity: 0;
  animation: fadeIn 2s forwards;
  animation-delay: 0.5s;
}

.logo-container {
  margin: 0 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 180px;
}

.logo-container p {
  color: #ecf0f1; /* Light gray text color */
  margin: 10px 0 0;
}

.content {
  
  padding: 20px;
  backdrop-filter: blur(10px);
  background-color: #0000002d;
  color: #fff; /* White text */
  animation: fadeIn 2s forwards;
  animation-delay: 1s;
}

.team-photos {
  margin: 20px 0;
  padding-bottom: 40px; /* Add padding to create space between photos and footer */
}

.team-photos .photos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  height: 400px;
}

.team-photos img.team-photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 10px;
  border: 3px solid #2c3e50; /* Dark blue-gray border */
  transition: transform 0.2s;
  opacity: 0;
  animation: fadeIn 2s forwards;
}

.team-photos img.team-photo:nth-child(1) {
  animation-delay: 0.5s;
}

.team-photos img.team-photo:nth-child(2) {
  animation-delay: 0.8s;
}

.team-photos img.team-photo:nth-child(3) {
  animation-delay: 1.1s;
}

.team-photos img.team-photo:nth-child(4) {
  animation-delay: 1.4s;
}

.team-photos img.team-photo:nth-child(5) {
  animation-delay: 1.7s;
}
.team-photos img.team-photo:nth-child(6) {
animation-delay: 2.0s;
}
.team-photos img.team-photo:nth-child(7) {
animation-delay: 2.7s;
}

.team-photos h2 {
  opacity: 0;
  animation: fadeIn 1.3s forwards;
  animation-delay: 0.6s;
  color: #2980b9; /* Darker blue */
}

/* Footer Styling */
.footer {
  display: flex;
  justify-content: space-around;
  position:fixed;
  background-color: #2c3e50; /* Dark blue-gray */
  color: #ecf0f1; /* Light gray text */
  
  opacity: 0;
  animation: fadeIn 2s forwards;
  animation-delay: 2s;
  margin-top: auto;
  left: 0;
  bottom: 0;
  width:100%;
}

.footer-section {
  max-width: 200px;
  margin: 0 20px;
}

.footer-section h3 {
  margin-bottom: 10px;
  color: #ecf0f1; /* Light gray text */
}

.footer-section p, .footer-section a {
  color: #ecf0f1; /* Light gray text */
  text-decoration: none;
}

.footer-section a:hover {
  text-decoration: underline;
}

/* Animation Keyframes */
@keyframes fadeIn {
  to {
      opacity: 1;
  }
}

/* Fade-in class for text elements */
.fade-in-header {
  opacity: 0;
  animation: fadeIn 2s forwards;
  animation-delay: 0.5s;
}

.fade-in-content {
  opacity: 0;
  animation: fadeIn 2s forwards;
  animation-delay: 1s;
}

.fade-in-photos {
  opacity: 0;
  animation: fadeIn 2s forwards;
  animation-delay: 1.5s;
}

.fade-in-footer {
  opacity: 0;
  animation: fadeIn 2s forwards;
  animation-delay: 2s;
}

.home {
display: flex;
flex-direction: column;
background-image: url(../Static/hospitalBG.jpeg);

}

/* Logo Animation */

.animatedLogo {
border-radius: 50%;
outline: none;
border-color: #2980b9;
box-shadow: 0 0 10px #2980b9;
animation: fadeInAndMove 4s forwards;
}

.ksit-logo, .kidwai-logo {
height: 100px;
}

@keyframes fadeInAndMove {
0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(4);
}
50% {
    opacity: 1;
    transform: translate(0, 0) scale(4);
}
100% {
    opacity: 1;
    transform: translate(0, 0) scale(1.5);
}
}


.meet {
display: inline-block;
box-shadow: 0 0 20px #00000023;
padding-left: 20px;
padding-right: 20px;
border-radius: 10px;
backdrop-filter: blur(10px);
background-color: #00000041;
margin-bottom: 20px;
}

.graph-flex, .analysis-flex {
  width: (379.25*2)px;
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}


