body {
    display: flex;
    justify-content: center;
}

.section1 {
    position: relative;
    border: 1px solid black;
    padding: 10px;
    min-height: 93vh;
    width: 90vw;
    
}

.headerInfo {
    display: flex;
    justify-content: space-between;
}

.sectionMain1 {
    display: flex;
    flex-direction: column;
}

.title1 {
    color: #8c1c1c;
    font-size: 35;
}

.hrRule {
    color:#8c1c1c ;
}


.slide1Body {
    display: flex;
    justify-content: space-between;
}

.bodyLeft {
    width: 50px;
    border: 1px solid black;
}

.foot {
    
    display: flex;
    gap: 80%;
}

.footer {
    position: absolute;
    bottom: 2;
}

.pageNo{
    position: absolute;
    right: 2;
    bottom: 2;
}

.pageNo {
    padding-top: 12px;
    width: 38px;
    height: 30px;
    text-align: center;
    font-weight: bold;
}

.parentSection {
    display: grid;
    grid-template-rows: 2fr 1fr;
}

.nxtSection {
    border: 1px black solid;
    min-height: 93vh;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* page header */

.page-header {
    width:auto;
    background-color: #8c1c1c;
    padding: 20px 40PX;;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-header img {
    height: 50px;
}

.page-nav-links {
    display: flex;
    gap: 20px;
}

.page-nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.page-nav-links a:hover {
    text-decoration: underline;
}