<html>

<head>
    <title>

    </title>
    <link rel="stylesheet" href="./CSS/newStyles.css">
</head>

<body>
    <div class="slideflexBody">
        <div class="slidepage-header">
            <img ng-click="navigate('home')" src="./Static/raghavaLogo.png" alt="Stanford Medicine"
                style="height: 50px;">
            <div class="slidepage-nav-links">
                <a href="#" ng-click="navigate('home')">Home</a>
                <a href="#" ng-click="navigate('about')">About the Initiative</a>
                <a href="#" ng-click="navigate('tryItOut')">Try It Out</a>
            </div>
        </div>
        <br>
        <div class="slidebodyLCRFlex">
            <section class="slidesectionBleft">
                This is section left
            </section>
            <section class="slidesectionBCenter">

                <<section class="slidenxtSection active" id="slide1">
                    <div class="slideheaderInfo">
                        <div class="slidestanford-logo"><img src="./Static/Stanford_Logo.svg" alt="Stanford Medicine"
                                style="height: 110px;"></div>
                        <div class="slidepersonal-logo"><img
                                src="./Static/Kidwai_Memorial_Institute_of_Oncology_Logo.svg.png" alt="kidwai logo"
                                style="height: 110px; "></div>
                        <div class="slidencg-logo"><img src="./Static/NationalCancerGrid.png" alt="National Cancer Grid"
                                style="height: 110px;"></div>
                    </div>
                    <hr class="slidehrRule">

                    <div class="slideparentSection">
                        <section class="slidelhsPage1">
                            <h3 class="slidetitle1">{{Quality Improvement Project 2022}}</h3>
                            <div>
                                <p class="slidepara1">KIDWAI MEMORIAL INSTITUTE OF ONCOLOGY, BENGALURU</p>
                            </div>
                        </section>
                        <section class="sliderhsPage1">RHS 25</section>
                    </div>




                    <footer class="slidefoot">
                        <div class="slideslideshowuttons">
                            <button class="slidebtn">Previous</button>
                            <button class="slidebtn">Next</button>
                            <button class="slidebtn">Show All</button>
                            <button class="slidebtn">Stop</button>
                            <button class="slidebtn">Show Pointer</button>
                        </div>
                        <div class="slidepageNo">
                            1
                        </div>
                    </footer>
                </section>


                <!-- Page 2 -->


                <section class="slidenxtSection" id="slide2">
                    <div class="slideheaderInfo">
                        <div class="slidestanford-logo"><img src="./Static/Stanford_Logo.svg" alt="Stanford Medicine"
                                style="height: 110px;"></div>
                        <div class="slidepersonal-logo"><img
                                src="./Static/Kidwai_Memorial_Institute_of_Oncology_Logo.svg.png" alt="kidwai logo"
                                style="height: 110px; "></div>
                        <div class="slidencg-logo"><img src="./Static/NationalCancerGrid.png" alt="National Cancer Grid"
                                style="height: 110px;"></div>
                    </div>
                    <hr class="slidehrRule">
                    <div class="slideparentSection">

                        <section class="slidelhsPage1">
                            This is lhs page
                        </section>
                        <section class="sliderhsPage1">RHS 25</section>
                    </div>
                </section>

                <!-- Page 3 -->

                <section class="slidenxtSection" id="slide3">
                    <div class="slideheaderInfo">
                        <div class="slidestanford-logo"><img src="./Static/Stanford_Logo.svg" alt="Stanford Medicine"
                                style="height: 110px;"></div>
                        <div class="slidepersonal-logo"><img
                                src="./Static/Kidwai_Memorial_Institute_of_Oncology_Logo.svg.png" alt="kidwai logo"
                                style="height: 110px; "></div>
                        <div class="slidencg-logo"><img src="./Static/NationalCancerGrid.png" alt="National Cancer Grid"
                                style="height: 110px;"></div>
                    </div>
                    <hr class="slidehrRule">
                    <h3 class="slidetitle3">Determinants of Delay from Registration to treatment initiation in Lung and
                        Colorectal Cancer Patients in Kidwai Memorial Institute of Oncology, Bengaluru.</h3>
                    <div class="slideparentSection">
                        <section class="slidelhsPage1">
                            <p class="slidepara3" style="color: gray;">KMIO is a tertiary cancer care center catering to
                                a large number of patients Massive work load, limited man power, saturated services
                                combined with patients from poor educational back ground makes delay at every level.
                                Lung and Colorectal Cancer is one among the ten leading sites of Cancer incidence among
                                both men and women in Cancer registry, Bengaluru. The delay in diagnosis and treatment
                                initiation represents a multifaceted problem attributable to multiple factors.
                                Quantifying the treatment delay helps us to understand the potential factors responsible
                                and reducing it for better Patient care.
                            </p>
                            <p style="color: gray;"><span class="slidespanDuration"
                                    style="color: maroon; font-weight: bold">Duration: </span> From April-2022 to
                                December-2022</p>
                        </section>
                        <section class="sliderhsPage1">RHS 25 <img src=""></section>
                    </div>
                </section>


                <!-- Page 4 -->

                <section class="slidenxtSection" id="slide4">
                    <div class="slideheaderInfo">
                        <div class="slidestanford-logo"><img src="./Static/Stanford_Logo.svg" alt="Stanford Medicine"
                                style="height: 110px;"></div>
                        <div class="slidepersonal-logo"><img
                                src="./Static/Kidwai_Memorial_Institute_of_Oncology_Logo.svg.png" alt="kidwai logo"
                                style="height: 110px; "></div>
                        <div class="slidencg-logo"><img src="./Static/NationalCancerGrid.png" alt="National Cancer Grid"
                                style="height: 110px;"></div>
                    </div>
                    <hr class="slidehrRule">
                    <div class="slideparentSection">
                        <section class="slidelhsPage1">
                            <h3 style="font-size: 30px; margin-left: 30px;">Our Mentors:</h3>
                            <div>
                                <p style="margin-left: 30px;">Dr. Sarbani Laskar</p>
                                <p style="margin-left: 30px;">Dr. Oddette Sprujit</p>
                                <p style="margin-left: 30px;">Dr. Rahul Krishnatry</p>
                            </div>
                        </section>
                        <section class="sliderhsPage1">RHS 25</section>
                    </div>
                </section>

                <!-- Page 5 -->

                <section class="slidenxtSection" id="slide5">
                    <div class="slideheaderInfo">
                        <div class="slidestanford-logo"><img src="./Static/Stanford_Logo.svg" alt="Stanford Medicine"
                                style="height: 110px;"></div>
                        <div class="slidepersonal-logo"><img
                                src="./Static/Kidwai_Memorial_Institute_of_Oncology_Logo.svg.png" alt="kidwai logo"
                                style="height: 110px; "></div>
                        <div class="slidencg-logo"><img src="./Static/NationalCancerGrid.png" alt="National Cancer Grid"
                                style="height: 110px;"></div>
                    </div>
                    <hr class="slidehrRule">
                    <div class="slideparentSection">
                        <section class="slidelhsPage1">
                            <p><span style="font-weight: bold;">Lead</span> Decision Making, Guiding the Study</p>
                            <p>Dr Linu Abraham Jacob, Prof and HoD, Medical Oncology:
                            </p>
                            <p><span style="font-weight: bold;">Team Members: </span>Facilitating the work flow and
                                helping with data acquisition, analysis</p>
                            <p>Dr P Sridhar, Associate Professor, Radiation Oncology.
                            </p>
                            <p><span style="font-weight: bold;">Team Members:</span>Dr P Sridhar, Associate Professor,
                                Radiation Oncology.
                            </p>
                            <p><span style="font-weight: bold;">Team Member: </span>Data collection, Executing
                                methodology and Quality maintenance
                                Dr Pavan  T Sugoor, Assistant Professor, Surgical Oncology.
                            </p>
                            <p><span style="font-weight: bold;">Team Member: </span>Coordinating with all the team
                                members and ensuring smooth functioning of the study.</p>
                            <p>Dr Avinash T, Senior Medical Officer: </p>
                        </section>
                        <section class="sliderhsPage1">RHS 25</section>
                    </div>
                </section>


                <!-- Page 6 -->

                <section class="slidenxtSection" id="slide6">
                    <div class="slideheaderInfo">
                        <div class="slidestanford-logo"><img src="./Static/Stanford_Logo.svg" alt="Stanford Medicine"
                                style="height: 110px;"></div>
                        <div class="slidepersonal-logo"><img
                                src="./Static/Kidwai_Memorial_Institute_of_Oncology_Logo.svg.png" alt="kidwai logo"
                                style="height: 110px; "></div>
                        <div class="slidencg-logo"><img src="./Static/NationalCancerGrid.png" alt="National Cancer Grid"
                                style="height: 110px;"></div>
                    </div>
                    <hr class="slidehrRule">
                    <div class="slideparentSection">
                        <p style="font-weight: bold; color: rgb(212, 0, 0); font-size: 27px;">Identify Target / Actual /
                            Gap:
                        </p>
                        <p>We analyzed the data of Lung and Colorectal Cancer. Patients registered at KMIO from April
                            2022 and was found that of 30 patients, currently the median treatment initiation time for
                            Lung and Colorectal Cancer Patients is 26 and 28 days respectively, with minimum of 7 days
                            and maximum of 68 days.
                        </p>
                        <p style="font-weight: bold; color: rgb(212, 0, 0); font-size: 27px;">SMART Goal
                        </p>
                        <p>Reducing treatment initiation time for Lung and Colorectal cancer patients by 50% of current
                            time within December 2022.</p>

                    </div>
                </section>


                <!-- Page 7 -->

                <section class="slidenxtSection" id="slide7">
                    <div class="slideheaderInfo">
                        <div class="slidestanford-logo"><img src="./Static/Stanford_Logo.svg" alt="Stanford Medicine"
                                style="height: 110px;"></div>
                        <div class="slidepersonal-logo"><img
                                src="./Static/Kidwai_Memorial_Institute_of_Oncology_Logo.svg.png" alt="kidwai logo"
                                style="height: 110px; "></div>
                        <div class="slidencg-logo"><img src="./Static/NationalCancerGrid.png" alt="National Cancer Grid"
                                style="height: 110px;"></div>
                    </div>
                    <hr class="slidehrRule">
                    <div class="slideparentSection">
                        <p style="font-weight: bold; color: rgb(212, 0, 0); font-size: 27px;">BaseLine RUN Chart</p>
                    </div>
                </section>


                <!-- Page 8 -->

                <section class="slidenxtSection" id="slide8">
                    <div class="slideheaderInfo">
                        <div class="slidestanford-logo"><img src="./Static/Stanford_Logo.svg" alt="Stanford Medicine"
                                style="height: 110px;"></div>
                        <div class="slidepersonal-logo"><img
                                src="./Static/Kidwai_Memorial_Institute_of_Oncology_Logo.svg.png" alt="kidwai logo"
                                style="height: 110px; "></div>
                        <div class="slidencg-logo"><img src="./Static/NationalCancerGrid.png" alt="National Cancer Grid"
                                style="height: 110px;"></div>
                    </div>
                    <hr class="slidehrRule">
                    <div class="slideupper">
                        <div class="slideupLeft"></div>
                        <div class="slideupRight"></div>
                    </div>
                    <div class="slidelower">
                        <div class="slidelowLeft"></div>
                        <div class="slidelowRight"></div>
                    </div>
                </section>


                <!-- Page 9 -->

                <section class="slidenxtSection" id="slide9">
                    <div class="slideheaderInfo">
                        <div class="slidestanford-logo"><img src="./Static/Stanford_Logo.svg" alt="Stanford Medicine"
                                style="height: 110px;"></div>
                        <div class="slidepersonal-logo"><img
                                src="./Static/Kidwai_Memorial_Institute_of_Oncology_Logo.svg.png" alt="kidwai logo"
                                style="height: 110px; "></div>
                        <div class="slidencg-logo"><img src="./Static/NationalCancerGrid.png" alt="National Cancer Grid"
                                style="height: 110px;"></div>
                    </div>
                    <hr class="slidehrRule">
                    <table border="1" class="slidepageNineTable" style="border-color: skyblue;">
                        <tr>
                            <td>Root Cause</td>
                            <td>Intervention</td>
                        </tr>
                        <tr>Phase-I</tr>
                        <tr>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr></tr>
                        <tr>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                        </tr>

                    </table>
                </section>


                <!-- Page 10 -->

                <section class="slidenxtSection" id="slide10">
                    <div class="slideheaderInfo">
                        <div class="slidestanford-logo"><img src="./Static/Stanford_Logo.svg" alt="Stanford Medicine"
                                style="height: 110px;"></div>
                        <div class="slidepersonal-logo"><img
                                src="./Static/Kidwai_Memorial_Institute_of_Oncology_Logo.svg.png" alt="kidwai logo"
                                style="height: 110px; "></div>
                        <div class="slidencg-logo"><img src="./Static/NationalCancerGrid.png" alt="National Cancer Grid"
                                style="height: 110px;"></div>
                    </div>
                    <hr class="slidehrRule">
                    <div class="slideparentSection">
                        <section class="slidelhsPage1">
                            <h1>Key drivers and Interventions</h1>
                            <div class="slideconnectionTable"></div>
                        </section>
                        <section class="sliderhsPage1">RHS 25 <img src="" alt=""></section>
                    </div>
                </section>


                <!-- Page 11 -->

                <section class="slidenxtSection" id="slide11">
                    <div class="slideheaderInfo">
                        <div class="slidestanford-logo"><img src="./Static/Stanford_Logo.svg" alt="Stanford Medicine"
                                style="height: 110px;"></div>
                        <div class="slidepersonal-logo"><img
                                src="./Static/Kidwai_Memorial_Institute_of_Oncology_Logo.svg.png" alt="kidwai logo"
                                style="height: 110px; "></div>
                        <div class="slidencg-logo"><img src="./Static/NationalCancerGrid.png" alt="National Cancer Grid"
                                style="height: 110px;"></div>
                    </div>
                    <hr class="slidehrRule">
                    <div class="slideparentSection">
                        <section class="slidelhsPage1">
                            <p style="font-weight: bold; color: rgb(212, 0, 0); font-size: 27px;">Interventions</p>
                            <p style="font-weight: bold; color: rgb(212, 0, 0); font-size: 27px;">Specialist
                                consultation at KMIO:
                            </p>
                            <p>
                                The patients had to visit other super specialty hospitals like Jayadeva Institute of
                                Cardiology, and Institute of Nephro-Urology for cardiac and renal evaluation, expert
                                opinion, interventional procedures if required.

                                KMIO has appointed Cardiologist, Nephrologist/ Urologist for full time to cater to the
                                Cardiac and Renal issues.

                                Previously patients were visiting above centres to take expert opinion, these centers
                                are 3 to 6 km away from the Institute.

                                3-5 days were Spent to seek the appointments and obtain expert opinion.

                            </p>
                        </section>
                        <section class="sliderhsPage1">RHS 25 <img src="" alt=""></section>
                    </div>
                </section>


                <!-- Page 12 -->

                <section class="slidenxtSection" id="slide12">
                    <div class="slideheaderInfo">
                        <div class="slidestanford-logo"><img src="./Static/Stanford_Logo.svg" alt="Stanford Medicine"
                                style="height: 110px;"></div>
                        <div class="slidepersonal-logo"><img
                                src="./Static/Kidwai_Memorial_Institute_of_Oncology_Logo.svg.png" alt="kidwai logo"
                                style="height: 110px; "></div>
                        <div class="slidencg-logo"><img src="./Static/NationalCancerGrid.png" alt="National Cancer Grid"
                                style="height: 110px;"></div>
                    </div>
                    <hr class="slidehrRule">
                    <div class="slideparentSection">

                    </div>
                </section>


                <!-- Page 13 -->

                <section class="slidenxtSection" id="slide13">
                    <div class="slideheaderInfo">
                        <div class="slidestanford-logo"><img src="./Static/Stanford_Logo.svg" alt="Stanford Medicine"
                                style="height: 110px;"></div>
                        <div class="slidepersonal-logo"><img
                                src="./Static/Kidwai_Memorial_Institute_of_Oncology_Logo.svg.png" alt="kidwai logo"
                                style="height: 110px; "></div>
                        <div class="slidencg-logo"><img src="./Static/NationalCancerGrid.png" alt="National Cancer Grid"
                                style="height: 110px;"></div>
                    </div>
                    <hr class="slidehrRule">
                    <div class="slideparentSection">
                        <p style="font-weight: bold; color: rgb(212, 0, 0); font-size: 27px;">Outcome of Project</p>
                        <ul>
                            <li>The waiting Period for treatment initiation of lung cancer has reduced from 26 days to
                                16 days. For Colorectal cancer the treatment initiation time has reduced from 28 days to
                                17 days.

                            </li>
                            <li>The economic and Social Burden on patient and attenders has reduced due to less number
                                of hospital visits and decreased duration of stay for out station patients.
                            </li>
                            <li>Maximum utilization of hospital resources
                            </li>
                        </ul>
                    </div>
                </section>


                <!-- Page 14 -->

                <section class="slidenxtSection" id="slide14">
                    <div class="slideheaderInfo">
                        <div class="slidestanford-logo"><img src="./Static/Stanford_Logo.svg" alt="Stanford Medicine"
                                style="height: 110px;"></div>
                        <div class="slidepersonal-logo"><img
                                src="./Static/Kidwai_Memorial_Institute_of_Oncology_Logo.svg.png" alt="kidwai logo"
                                style="height: 110px; "></div>
                        <div class="slidencg-logo"><img src="./Static/NationalCancerGrid.png" alt="National Cancer Grid"
                                style="height: 110px;"></div>
                    </div>
                    <hr class="slidehrRule">
                    <div class="slideparentSection">
                        <p style="font-weight: bold; color: rgb(212, 0, 0); font-size: 27px;">Additional Results</p>
                        <ul>
                            <li>Waiting time for treatment initiation for all other subsites of cancer has reduced
                                because of the interventions.
                            </li>
                            <li>Out comes from the decrease in the treatment initiation time of all Cancers must be
                                evaluated.</li>
                            <li>Treatment drop outs for the outstation patients has reduced.
                            </li>


                        </ul>
                    </div>
                </section>


                <!-- Page 15 -->

                <section class="slidenxtSection" id="slide15">
                    <div class="slideheaderInfo">
                        <div class="slidestanford-logo"><img src="./Static/Stanford_Logo.svg" alt="Stanford Medicine"
                                style="height: 110px;"></div>
                        <div class="slidepersonal-logo"><img
                                src="./Static/Kidwai_Memorial_Institute_of_Oncology_Logo.svg.png" alt="kidwai logo"
                                style="height: 110px; "></div>
                        <div class="slidencg-logo"><img src="./Static/NationalCancerGrid.png" alt="National Cancer Grid"
                                style="height: 110px;"></div>
                    </div>
                    <hr class="slidehrRule">
                    <div class="slideparentSection">
                        <p style="font-weight: bold; color: rgb(212, 0, 0); font-size: 27px;">Sustainability: Roles
                            &Responsibility
                        </p>
                        <table border="1" class="slidepageFifteenTable">
                            <tr>
                                <th>Activity to Sustain</th>
                                <th>Owner</th>
                                <th>Sustain method and frequency</th>
                                <th>Report to</th>
                            </tr>
                            <tr>
                                <td>Visiting consultants at KMIO</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </table>
                    </div>
                </section>


                <!-- Page 16 -->

                <section class="slidenxtSection" id="slide16">
                    <div class="slideheaderInfo">
                        <div class="slidestanford-logo"><img src="./Static/Stanford_Logo.svg" alt="Stanford Medicine"
                                style="height: 110px;"></div>
                        <div class="slidepersonal-logo"><img
                                src="./Static/Kidwai_Memorial_Institute_of_Oncology_Logo.svg.png" alt="kidwai logo"
                                style="height: 110px; "></div>
                        <div class="slidencg-logo"><img src="./Static/NationalCancerGrid.png" alt="National Cancer Grid"
                                style="height: 110px;"></div>
                    </div>
                    <hr class="slidehrRule">
                    <div class="slideparentSection">
                        <p style="font-weight: bold; color: rgb(212, 0, 0); font-size: 27px;">Key Learning points from
                            Project</p>
                        <ul>
                            <li>If we know the exact cause, it is easy to find the solution.

                            </li>
                            <li>The scientific way of identification of root cause helps to convince the Administration
                                and bring about better changes in the hospital.
                            </li>
                            <li>Small modifications in the routine procedure will yield good results and there by
                                improving the patient care.
                            </li>
                        </ul>
                    </div>
                </section>


                <!-- Page 17 -->

                <section class="slidenxtSection" id="slide17">
                    <div class="slideheaderInfo">
                        <div class="slidestanford-logo"><img src="./Static/Stanford_Logo.svg" alt="Stanford Medicine"
                                style="height: 110px;"></div>
                        <div class="slidepersonal-logo"><img
                                src="./Static/Kidwai_Memorial_Institute_of_Oncology_Logo.svg.png" alt="kidwai logo"
                                style="height: 110px; "></div>
                        <div class="slidencg-logo"><img src="./Static/NationalCancerGrid.png" alt="National Cancer Grid"
                                style="height: 110px;"></div>
                    </div>
                    <hr class="slidehrRule">
                    <div class="slideparentSection">
                        <ul>
                            <li>Implementation of Phase-II intervention completely.
                            </li>
                            <li>Sustainability of the modified changes with continuous efforts.
                            </li>
                            <li>Cost effectiveness (Direct & Indirect) from all the above interventions needs to be
                                evaluated.
                            </li>
                            <li>New Projects to be taken up and solve other unforeseen problems.
                            </li>
                            <li>Constitution and Institutionalization of Quality Circles
                            </li>
                        </ul>
                    </div>
                </section>


                <!-- Page 18 -->

                <section class="slidenxtSection" id="slide18">
                    <div class="slideheaderInfo">
                        <div class="slidestanford-logo"><img src="./Static/Stanford_Logo.svg" alt="Stanford Medicine"
                                style="height: 110px;"></div>
                        <div class="slidepersonal-logo"><img
                                src="./Static/Kidwai_Memorial_Institute_of_Oncology_Logo.svg.png" alt="kidwai logo"
                                style="height: 110px; "></div>
                        <div class="slidencg-logo"><img src="./Static/NationalCancerGrid.png" alt="National Cancer Grid"
                                style="height: 110px;"></div>
                    </div>
                    <hr class="slidehrRule">
                    <div class="slideparentSection">
                        <section class="slidelhsPage1">
                            <h1>Thank You</h1>
                            <p style="font-size: 25px;">FOR GIVING US THE OPPORTUNITY TO JOIN THE EQUIP COMMUNITY</p>
                        </section>
                        <section class="sliderhsPage1">RHS 25
                            <img src="" alt="">
                        </section>
                    </div>
                </section>

            </section>
            <div class="slidefoot">
                    <div class="slideslideshowuttons">
                        <button class="slidebtn" onclick="navigateSlide(-1)">Previous</button>
                        <button class="slidebtn" onclick="navigateSlide(1)">Next</button>
                        <button class="slidebtn" onclick="endPresentation()">end</button>
                    </div>
                    <div class="slidepageNo" id="slideNumber">1</div>
                </div>
            </section>
            <section class="slidesectionBRight">
                This is section right
            </section>
        </div>

        </section>
    </div>
    <script src="./JS/script1.js"></script>
</body>

</html>